.card-evento {
    width: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.card-evento img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}